<div class="mt-5 app-container">
    <div class="app-container-img">
        <div class="image-container mt-3">
            <img src="../../../assets/Images/a3cd98da-ac98-4483-8e26-1a556693cca7-removebg-preview.png">
        </div>
    </div>
    <div class="app-container-content">
        <div class="app-container-content-header">
            <h1 class="header-title">
                Electrical & Electronics
            </h1>
            <h1 class="header-text">100% PRACTICAL
            </h1>
            <h1 class="header-title">
                TRAINING PROGRAM
            </h1>
            <p class="text-knowledge">Enhance your practical knowledge and develop your
                skills in electrical and electronics equipment.
            </p>
            <div class="text-center mt-4">

                <button class=" join-now">JOIN NOW</button>
            </div>
        </div>
    </div>
   <div class="footer-container">
         <div class="footer-image">
           <img src="../../../assets/Images/fc4981cd-4afa-4e90-a0e8-4fc8645e783e-removebg-preview.png"/>
        </div> 
        <div class="circle-container">
            <div class="circle">
            </div>
        </div>
        <div class="circle2"></div>
    </div> 

</div>